@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #0e0e0e;
  color: #eaeaea;
  scroll-behavior: smooth;
}

::selection {
  background: #c7a76d;
  color: #0e0e0e;
}
.article-prose {
  margin-top: 2rem;
  line-height: 1.8;
  color: #d1d5db; /* light gray */
}

.article-prose h1,
.article-prose h2,
.article-prose h3 {
  color: #f9fafb;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article-prose p {
  margin-bottom: 1.25rem;
}

.article-prose ul {
  padding-left: 1.5rem;
  list-style: disc;
  margin-bottom: 1.25rem;
}

.article-prose li {
  margin-bottom: 0.5rem;
}

.article-prose strong {
  color: #fbbf24; /* gold */
}

